@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
  color: #181111;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}